#fav-message {
  position: fixed;
  top: 20px;
  left: 50%;

  transform: translate(-50%);

  background-color: #198754;
  color: white;

  padding: 12px 20px;
  border-radius: 8px;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.5s ease;

  z-index: 9999;
}
#fav-message.show {
  opacity: 1;
  visibility: visible;
}
.instructions {
  white-space: pre-line;
  line-height: 1.6;
}
.hero-section {
  background-color: #f8c76b;
}
.hero-konten {
  color: #3d2b1f;
}
.c-img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.carousel-caption {
  color: #ffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.page-wrapper {
  padding-top: 75px;
  min-height: 100vh;
  display: flex;
  background-color: #f5e4c4;
}
.card-title {
  color: #ffff;
  font-size: 26px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card-body {
  background-color: #f8c76b;
}
.navbar > .container-fluid {
  justify-content: flex-start;
  padding-left: 0rem;
}
.navbar-nav {
  margin-left: 0.5rem;
  gap: 0.5rem;
}
.navbar-toggler {
  margin-left: auto;
}
